In [1]:
import pandas as pd

# Read and clean original inpatient claims file

In [2]:
# import and read inpatient file
inpt_org = "DE1_0_2008_to_2010_Inpatient_Claims_Sample_1.csv"
inpt_df = pd.read_csv(inpt_org)

In [3]:
# only include data from 2008
newinpt_df = inpt_df[inpt_df.CLM_FROM_DT <20090101]
newinpt_df.head()

,DESYNPUF_ID,CLM_ID,SEGMENT,CLM_FROM_DT,CLM_THRU_DT,PRVDR_NUM,CLM_PMT_AMT,NCH_PRMRY_PYR_CLM_PD_AMT,AT_PHYSN_NPI,OP_PHYSN_NPI,...,HCPCS_CD_36,HCPCS_CD_37,HCPCS_CD_38,HCPCS_CD_39,HCPCS_CD_40,HCPCS_CD_41,HCPCS_CD_42,HCPCS_CD_43,HCPCS_CD_44,HCPCS_CD_45
5,00052705243EA128,196991176971757,1,20080912.0,20080912.0,1401HG,14000.0,0.0,6.132011e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0007F12A492FD25D,196661176963773,1,20080919.0,20080922.0,3400WD,5000.0,0.0,8.956736e+09,6.551008e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,000C7486B11E7030,196641176984178,1,20081015.0,20081021.0,4400MM,30000.0,0.0,5.520895e+09,6.142535e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0011CB1FE23E91AF,196851176958774,1,20080421.0,20080426.0,2000HG,3000.0,0.0,1.117399e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0011CB1FE23E91AF,196091176985832,1,20080426.0,20080430.0,2013RT,8000.0,0.0,8.156577e+09,6.967908e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# remove unwanted columns
newinpt_df = newinpt_df.drop(["SEGMENT", "CLM_FROM_DT", "CLM_THRU_DT", "PRVDR_NUM", "CLM_PMT_AMT", 
                              "AT_PHYSN_NPI", "OP_PHYSN_NPI", "OT_PHYSN_NPI", "CLM_ADMSN_DT", "CLM_PASS_THRU_PER_DIEM_AMT",
                              "NCH_BENE_IP_DDCTBL_AMT", "NCH_BENE_PTA_COINSRNC_LBLTY_AM", "NCH_BENE_BLOOD_DDCTBL_LBLTY_AM", 
                              "NCH_PRMRY_PYR_CLM_PD_AMT", "CLM_UTLZTN_DAY_CNT", "NCH_BENE_DSCHRG_DT", "CLM_DRG_CD",                               
                              "HCPCS_CD_1", "HCPCS_CD_2", "HCPCS_CD_3", "HCPCS_CD_4", "HCPCS_CD_5", 
                              "HCPCS_CD_6", "HCPCS_CD_7", "HCPCS_CD_8", "HCPCS_CD_9", "HCPCS_CD_10",            
                              "HCPCS_CD_11", "HCPCS_CD_12", "HCPCS_CD_13", "HCPCS_CD_14", "HCPCS_CD_15", 
                              "HCPCS_CD_16", "HCPCS_CD_17", "HCPCS_CD_18", "HCPCS_CD_19", "HCPCS_CD_20", 
                              "HCPCS_CD_21", "HCPCS_CD_22", "HCPCS_CD_23", "HCPCS_CD_24", "HCPCS_CD_25", 
                              "HCPCS_CD_26", "HCPCS_CD_27", "HCPCS_CD_28", "HCPCS_CD_29", "HCPCS_CD_30", 
                              "HCPCS_CD_31", "HCPCS_CD_32", "HCPCS_CD_33", "HCPCS_CD_34", "HCPCS_CD_35", 
                              "HCPCS_CD_36", "HCPCS_CD_37", "HCPCS_CD_38", "HCPCS_CD_39", "HCPCS_CD_40",
                              "HCPCS_CD_41", "HCPCS_CD_42", "HCPCS_CD_43", "HCPCS_CD_44", "HCPCS_CD_45"], axis=1)
newinpt_df.head()

,DESYNPUF_ID,CLM_ID,ADMTNG_ICD9_DGNS_CD,ICD9_DGNS_CD_1,ICD9_DGNS_CD_2,ICD9_DGNS_CD_3,ICD9_DGNS_CD_4,ICD9_DGNS_CD_5,ICD9_DGNS_CD_6,ICD9_DGNS_CD_7,ICD9_DGNS_CD_8,ICD9_DGNS_CD_9,ICD9_DGNS_CD_10,ICD9_PRCDR_CD_1,ICD9_PRCDR_CD_2,ICD9_PRCDR_CD_3,ICD9_PRCDR_CD_4,ICD9_PRCDR_CD_5,ICD9_PRCDR_CD_6
5,00052705243EA128,196991176971757,78079,486,3004,42731,42830,2724,V4581,4019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0007F12A492FD25D,196661176963773,78097,33811,53550,42820,496,V1259,42731,78729,V103,34290,NaN,8659.0,NaN,NaN,NaN,NaN,NaN
11,000C7486B11E7030,196641176984178,4260,42781,41400,4260,5849,2720,78551,99591,4019,25000,NaN,50.0,4280,40390,5180,NaN,NaN
14,0011CB1FE23E91AF,196851176958774,42731,42789,2948,42731,71590,25000,V1046,4019,53081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0011CB1FE23E91AF,196091176985832,5693,5781,42731,2724,2768,00845,2851,4011,41401,3310,NaN,4523.0,29410,V1259,V4976,NaN,NaN

In [5]:
# make each ICD9 code a new row instead of a new column

df = newinpt_df
df = df.rename(columns = {"ICD9_DGNS_CD_1":"DG",
                         "ICD9_DGNS_CD_2":"DG", "ICD9_DGNS_CD_3":"DG", "ICD9_DGNS_CD_4":"DG", "ICD9_DGNS_CD_5":"DG", "ICD9_DGNS_CD_6":"DG", "ICD9_DGNS_CD_7":"DG", "ICD9_DGNS_CD_8":"DG", "ICD9_DGNS_CD_9":"DG", "ICD9_DGNS_CD_10":"DG"}) 

df1 = df.iloc[:, [0, 1, 2, 3]]
df2 = df.iloc[:, [0, 1, 2, 4]]
df3 = df.iloc[:, [0, 1, 2, 5]]
df4 = df.iloc[:, [0, 1, 2, 6]]
df5 = df.iloc[:, [0, 1, 2, 7]]
df6 = df.iloc[:, [0, 1, 2, 8]]
df7 = df.iloc[:, [0, 1, 2, 9]]
df8 = df.iloc[:, [0, 1, 2, 10]]

df = [df1, df2, df3, df4, df5, df6, df7, df8]
df = pd.concat(df)

In [6]:
# add a column to note that these diagnosis are from outpatient claims 
df['type'] = 'inpatient'
df.head()

         DESYNPUF_ID           CLM_ID ADMTNG_ICD9_DGNS_CD     DG       type
5   00052705243EA128  196991176971757               78079    486  inpatient
6   0007F12A492FD25D  196661176963773               78097  33811  inpatient
11  000C7486B11E7030  196641176984178                4260  42781  inpatient
14  0011CB1FE23E91AF  196851176958774               42731  42789  inpatient
15  0011CB1FE23E91AF  196091176985832                5693   5781  inpatient

In [7]:
# drop duplicate ICD 9 Codes for each patient
df.drop_duplicates()
#from 27902 rows Ã— 81 columns to 210132 rows Ã— 5 columns

            DESYNPUF_ID           CLM_ID ADMTNG_ICD9_DGNS_CD     DG       type
5      00052705243EA128  196991176971757               78079    486  inpatient
6      0007F12A492FD25D  196661176963773               78097  33811  inpatient
11     000C7486B11E7030  196641176984178                4260  42781  inpatient
14     0011CB1FE23E91AF  196851176958774               42731  42789  inpatient
15     0011CB1FE23E91AF  196091176985832                5693   5781  inpatient
...                 ...              ...                 ...    ...        ...
66758  FFEC9A4A8E0DA060  196531176958302                5990    NaN  inpatient
66759  FFEC9A4A8E0DA060  196441177002106               78097    NaN  inpatient
66765  FFF46A3796CB82BB  196511176973115               78079   7818  inpatient
66766  FFF5F9218AB04A41  196321176987073               43411  27651  inpatient
66771  FFFC880E13CA6278  196191176959044                7851   5070  inpatient

[210132 rows x 5 columns]

In [8]:
# write to csv
df.to_csv("NewInpt.csv", index=False, header=True)